[submodule "libraries/libnbtplusplus"]
	path = libraries/libnbtplusplus
	url = https://github.com/AndreaFrederica/libnbtplusplus.git
[submodule "libraries/extra-cmake-modules"]
	path = libraries/extra-cmake-modules
	url = https://github.com/KDE/extra-cmake-modules
[submodule "libraries/qt-qrcodegenerator/QR-Code-generator"]
	path = libraries/qt-qrcodegenerator/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator
[submodule "libraries/qtermwidget"]
	path = libraries/qtermwidget
	url = https://gitlab.com/andreafrederica/qtermwidget.git
[submodule "libraries/quazip"]
	path = libraries/quazip
	url = https://github.com/stachenov/quazip.git
[submodule "website"]
	path = website
	url = https://github.com/AndreaFrederica/LunaLauncher_webpage.git
[submodule "libraries/cmark"]
	path = libraries/cmark
	url = https://github.com/AndreaFrederica/cmark.git
[submodule "libraries/quickjs-ng"]
	path = libraries/quickjs-ng
	url = https://github.com/AndreaFrederica/quickjs-ng.git
[submodule "libraries/tomlplusplus"]
	path = libraries/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "libraries/zlib"]
	path = libraries/zlib
	url = https://github.com/madler/zlib.git
